.container{
    display:flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

h1{
    color: #fff;
    font-size: 30px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border-radius: 10px;
    background-color: #1a1a1b;
    max-width: 50%;
    width: 400px;
    margin-bottom: 20px;

    & button {
        border-radius: 30px;
        background-color: #dfb133;
        height: 40px;
        border: none;
        font-weight: bold;
        cursor: pointer;
        font-size: 13px;
    }

    & button:hover{
        opacity: 0.7;
    }

    & button:active{
        background-color: #ffffff;
        color: #dfb133;
        font-size: 15px; 
    }

    & input {
        border: 2px solid #dfb133;
        border-radius: 30px;
        height: 40px;
        background-color: #b1b1b4;
        color: #fff;
        font-size: 16px;
        padding-left: 10px;
        outline: none;
        
    & input::placeholder {
  color:white;
}

    }

}

.card{
    display: flex;
    justify-content: space-between;
    background-color: #2e2d4e;
    margin: 10px;
    padding: 10px;
    width: 400px;
    border-radius: 10px;

    & p {
        color: #fff;
        font-weight: bold;
    }

    & span{
        font-weight: normal;
    }

    & button {
        background-color: transparent;
        cursor: pointer;
        border: none;
    }

    & button:hover {
        opacity: 0.7;
    }

    & button:active {
        opacity: 0.4;    
    }

}