* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playwrite NZ Basic", cursive;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(90deg,rgba(2, 0, 36, 1) 5%, rgba(9, 9, 121, 1) 58%, rgba(0, 212, 255, 1) 100%);
}